<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netMsmqBinding>
				<binding name="MsmqBindingTransactionalTransportSecurity"
								 exactlyOnce="true"
								 receiveRetryCount="3"
								 retryCycleDelay="00:05:00"
								 maxRetryCycles="3"
								 receiveErrorHandling="Move">
					<security mode="Transport">
						<transport msmqAuthenticationMode="None" msmqProtectionLevel="None"/>
						<message clientCredentialType="None"/>
					</security>
					<readerQuotas maxStringContentLength="64000"/>
				</binding>
			</netMsmqBinding>

		</bindings>
		<client>
			<endpoint address="net.msmq://localhost/private/helloworldtest"
							 binding="netMsmqBinding" bindingConfiguration="MsmqBindingTransactionalTransportSecurity"
							 contract="Contract.IHelloWorldService" name="Client.HelloWorldService" />
		</client>
		<services>
			<!-- behaviorConfiguration="Tellus.Services.Leads.ServiceImplementations.LeadService_Behavior" -->
			<service name="Client.HelloWorldService">
				<endpoint address="net.msmq://localhost/private/helloworldtest" binding="netMsmqBinding" bindingConfiguration="MsmqBindingTransactionalTransportSecurity" contract="Contract.IHelloWorldService" />
			</service>
		</services>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
